@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --color1 :#1676dd;
    --color2:#7ee5f3;
    --color3:#e72254;
    --color4:#a1a1a1;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 2rem 7%;
    box-shadow: var(--color4) 0px 3px 8px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .logo{
    width: 50px;
  }
  .logo img{
    width: 100%;
  }
  header-icon img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 20%;
    animation: headericon 3s infinite;
}
  @keyframes headericon {
    0% {left: 20%;}
    50% {left: 25%;}
    100% {left: 20%;}
  }
  .navbar a{
    padding: 1rem;
    margin: 0.5rem;
    color: var(--color3);
    font-size: 1.7rem;
    position: relative;
    transition: 0.5s;
  }
  .navbar a:hover{
    color: var(--color3);
  }
  .navbar a::after{
    content: "";
    background-color: var(--color3);
    width: 0;
    height: 2px;
    left: 0;
    top: 100%;
    position: absolute;
    transition: 0.5s;
  }
  .navbar a:hover::after{
    width: 100%;
  }
  .header-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-icons i{
    font-size: 2rem;
    color: var(--color4);
    margin: 0 0.5rem;
    padding: 0.5rem;
  }
  .header-icons i:hover{
    color: var(--color3);
    cursor: pointer;
  }
  #bar{
    font-size: 2.5rem;
    color: var(--color4);
    margin-left: 1rem;
    display: none;
  }
  #bar:hover{
    color: var(--color3);
  }

/* home section started */

.main-home{
  width: 105%;
  height: 105vh;
  background-image: url(Imgs/fullbg.jpg);
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 7%;
}
.inner-home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 6%;
}
.main-inner-home{
  flex: 1 1 45rem;
}
.main-inner-home .right-img img{
  width: 100%;
  height: 100vh;
  margin: -10rem 0 0 -1rem;
  padding:6rem 3rem 0rem 5rem;
}
.left-content{
  padding: 0 3rem;
}
.left-content h5{
  font-size: 4rem;
  color: var(--color4);
  transition: 2s;
}
.left-content h5:hover{
  color: #000;
  transition: 2s;
  text-shadow: 0 0 10px deeppink,
  0 0 20px deeppink
  0 0 40px yellow,
  0 0 80px yellow,
  0 0 120px yellow,
  0 0 160px yellow;
  animation: glow .3s linear infinite;
  cursor: pointer;
}
.left-content h1
{
    display: flex;
    color: transparent;
    font-size: 4vw;
}
.left-content h1 span
{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
    0%
    {
        color: white;
        filter: blur(1px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }  
    30%,70%
    {
        color: white;
        filter: blur(1px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b1ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
        
    }
}
.left-content p{
  color: white;
  font-size: 1.7rem;
  padding: .5rem 0;
}
.btn{
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  z-index: 1;
  cursor: pointer;
  background: white;
  color: var(--color4);
  margin-top: 1rem;
}
.btn:hover{
  color: white;
}
.btn::before{
  content: "";
  color: white;
  transition: 0.5s all ease;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.btn:hover:before{
  top: 0;
  bottom: 0;
  opacity: 1;
  background: var(--color3);
  border-radius: 10px;
}

/* About us section */

.main-about{
  width: 100%;
  height: 100vh;
  padding: 2.5rem 7%;
  position: relative;
  background-color: #000;
  background-image: url(imgs/pattern.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--color4) 0px 5px 15px;
}
.about-heading{
  text-align: center;
  margin-top: 3rem;
}
.about-heading h1{
  color: var(--color4);
  font-size: 53px;
}

h1 span
{
    animation: blink 1s linear infinite;
    color: var(--color3);
    font-size: 53px;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}

.about-main-div{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.main-inner-about{
  flex: 1 1 45rem;
}
.about-img img{
  width: 100%;
  margin: -5rem 0 0 -3rem;
  padding: 7rem;
}
.main-inner-about .video{
  position: fixed;
  width: .2%;
  height: .2%;
  margin-top: -48%;
  margin-left: 4%;
  transition: 3s;
  box-shadow: 1px 2px 10px 5px #111;
}
.main-inner-about .video:hover{
  width: 30%;
  height: 60%;
  overflow: hidden;
  transition: 3s;
  cursor: pointer;
}
.about-right-content h2{
  margin-top: -5rem;
  color: var(--color4);
  font-size: 3rem;
}
.about-right-content h1{
  color: var(--color3);
  font-size: 6rem;
  padding: 1rem 0;
}
.about-right-content p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 2;
}
.overflowing img{
  position: absolute;
  width: 100px;
  left: -4%;
  animation: myimg 5s infinite;
}
@keyframes myimg {
  0% {top: 10%;}
  50% {top: 40%;}
  100% {top: 0%;}
}

/* products section started */

.main-products{
  padding: 2rem 7%;
  background-color: #000;
  box-shadow: var(--color4) 0px 5px 15px;
}
.products-heading{
  padding: 2rem 0;
  text-align: center;
}
.products-heading h1{
  font-size: 45px;
  color: var(--color4);
}
.products-inner-main-div{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
}
.products-innerbox{
  flex: 1 1 300px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.products-innerbox::after{
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #000 10%, transparent);
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.products-innerbox:hover:after{
  bottom: -100px;
}
.products-innerbox:hover .products-icons{
  left: 5%;
  cursor: pointer;
  font-size: 2rem;
}
.products-innerbox .teamimg img{
  width: 100%;
  border: 1px solid var(--color3);
  padding: 1rem;
}
.products-innerbox:hover .teamimg img{
  border-top-right-radius: 30px;
}
.products-icons{
  position: absolute;
  top: 5%;
  left: -100%;
  transition: 0.8s ease-in-out;
}
.products-icons i{
  padding: 1.7rem;
  border: 1px solid var(--color4);
  font-size: 1.5rem;
  color: var(--color3);
  background: white;
  margin: 0.5rem;
}
.products-icons i:hover{
  border-top-left-radius: 15px;
  transform: scale(1.1);
}
.products-innernames{
  position: absolute;
  bottom: 6%;
  left: 20%;
  font-size: 2rem;
  color: var(--color3);
  z-index: 1;
}

.products-innernames figure
        {
            animation: wobble 5s ease-in-out infinite;
            transform-origin: center center;
            transform-style: preserve-3d;
        }

        @keyframes wobble {
            0%, 100% {
                transform: rotate3d(1, 1, 0, 40deg);
            }

            25%{
                transform: rotate3d(-1, 1, 0, 40deg);
            }

            50%{
                transform: rotate3d(-1, -1, 0, 40deg);
            }

            75%{
                transform: rotate3d(1, -1, 0, 40deg);
            }
          }
            
            h4
            {
                font-size: 3.3rem;
                color: #000;
                animation: glow 5s ease-in-out infinite;
            }
    
            @keyframes glow 
            {
                0%, 100% 
                {
                    text-shadow: 0 0 30px cyan;
    
                }
    
                25% 
                {
                    text-shadow: 0 0 30px rgb(235, 30, 139);
                    
                }
    
                50% 
                {
                    text-shadow: 0 0 30px yellow;
                    
                }
    
                75% 
                {
                    text-shadow: 0 0 30px rgb(176, 23, 232);
                    
                }
            }

/* Our Services */

.main-services{
  padding: 3rem 7%;
  background-color: #000;
  position: relative;
}
.services-heading{
  text-align: center;
}
.services-heading h1{
  font-size: 45px;
  color: var(--color4);
  padding-bottom: 3rem;
}
.main-inner-services{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.service-box{
  flex: 1 1 300px;
  padding: 3rem 2rem;
  border: 2px solid var(--color3); 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: 0.3s ease-in-out;
  position: relative;
  transition: 0.5s ease;
  background: white;
}
.service-box:hover{
  margin-top: -10px;
  border-bottom: 2px solid var(--color4);
  border: 0;
  border-radius: 20px;
  border-left: 5px solid var(--color3);
}
.service-box-icon{
  padding: 2rem;
  background-color: var(--color4);
  width: 80px;
  height: 80px;
  line-height: 50px;
  margin: 0 auto;
  transition: 0.4s;
  cursor: pointer;
}
.service-box:hover .service-box-icon{
  border-radius: 100%;
  background-color: var(--color3);
}

.service-box-icon img{
  width: 5rem;
  padding-right: 1rem;
}
.service-box:hover .service-box-icon img {
  border-radius: 100%;
}

.service-box h2{
  font-size: 2rem;
  padding: 2rem 0;
}
.service-content p{
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2rem;
}
.serviceoverflow img{
  position: absolute;
  width: 100px;
  right: -4%;
  animation: servicimg 5s infinite;
  top: 10%;
}
@keyframes servicimg {
  0% {top: 10%;}
  50% {top: 80%;}
  100% {top: 0%;}
}

/* our gallery */

.main-gallery-section{
  padding: 3rem 7%;
  background-color: #000;
  box-shadow: var(--color3) 0px 5px 15px;
}
.gallery-heading{
  text-align: center;
  padding-bottom: 2rem;
}
.gallery-heading h1{
  font-size: 45px;
  color: var(--color4);
}
.main-inner-gallery{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.inner-gallery{
  flex: 1 1 300px;
  box-shadow: #e72254 0px 2px 7px;
}
.inner-gallery:hover img{
  transform: rotate(5deg);
  cursor: pointer;
}
.inner-gallery img{
  width: 100%;
}

/* customer review */

.main-customer-review{
  padding: 8rem 7%;
  background-color: #000;
}
.customer-review-heading{
  text-align: center;
  padding-bottom: 2rem;
}
.customer-review-heading h1{
  font-size: 45px;
  color: var(--color4);
}
.main-customer-inner{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.inner-customer-box{
  flex: 1 1 300px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color3);
}
.inner-customer-box:hover{
  transform: rotate(-5deg);
  cursor: pointer;
}

.innerbox-content img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: -50px;
  border: 2px solid #edeef2;
  margin: 0 auto;
}
.customer-review h2{
  font-size: 2.5rem;
  color: var(--color3);
  padding: 0.5rem 0;
}
.customer-review p{
  color: #eee;
  font-size: 1.5rem;
}
.customer-review i{
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--color3);
}

/* Footer */

.footer{
  width: 100%;
  height: 72vh;
  padding: 70px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  background-color: #000;
  color: #fff;
  box-shadow: var(--color2) 0px 5px 15px;
}
.footer_heading{
  margin-bottom: 20px;
}
.footer_social,.Quicklinks,.Usefullink,.work{
  width: 24%;
}
.f_logo{
  margin-bottom: 20px;
}
.footer_heading h3{
  font-size: 2rem;
  font-weight: 800;
  color: var(--color3);
}
.footer .links{
    display: block;
    font-size: 1.8rem;
    color: #fff;
    padding: 1rem 0;
}
.footer .links:hover{
  color: var(--color3);
}
.footer p{
  font-size: 17px;
  padding: 1rem 0;
}
.footer p:hover{
  color: var(--color3);
  cursor: pointer;
}
.footer_btn{
  margin: 30px 0 3rem 0;
}
.media a{
   font-size: 15px;
   padding: 1rem;
   border-radius: 50%;
   background: #fff;
   color: #000; 
   margin: 15px 5px 0px 5px;
}
.media a:hover{
  background: var(--color3);
  color: #fff;
}
.footer .credit{
  margin: auto;
  padding: 1rem 0;
  font-size: 2rem;
  color: #eee;
  border-top: .1rem solid silver;
}
.footer .credit span{
  color: gold;
  transition: 4s;
}
.footer .credit span:hover
{
    color: var(--color3);
    -webkit-text-stroke: .3px yellow;
    transition: 4s;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color5); 
}



@media (max-width:768px) {
    
  html{
    font-size: 55%;
  }
   
  header{
    padding: 1rem 3rem;
  }
  #bar{
    display: initial;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
  }
  .navbar.active{
    left: 0;
  }
  .navbar a{
    display: block;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid var(--color4);
    font-size: 1.7rem;
  }
  .main-home{
    height: auto;
    padding-top: 30%;
    }

    .home-icons-below{
      margin-top: 0;
      padding: 4rem 2rem;
    }
    .home-icon-box{
      padding: 2rem;
    }

    /* Service section */

    .service-box{
      padding: 2rem;
    }

}